.toolbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f6d1d2;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar_logodiv {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.3rem 1rem;

}

.navbar_logo {
    width: 50px;
    height: 50px;
    border-radius: 8px;


}

.spacer {
    flex: 0.01;
}

.navbar_appname {
    color: black;
    text-decoration: grey;
    font-size: 2rem;
    /* padding-left: 1rem; */
}

.toolbar_buttons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.toolbar_buttons button:hover,
.toolbar_buttons button:active {
    color: #08d759;
}