.user-profile {
    display: flex;
    justify-content: space-between;
    height: 75vh;
    width: 80vw;
    padding-left: 77px;
    margin-top: 75px;
}


.ironplanter {
    /* background-image: url("../../Assets/UserProfilePic.jpg"); */
    height: 525px;
    width: 400px;
    display: inline-block;
    margin: -370px 40px;
    margin-top: 36px;
    opacity: 100%;
    border-radius: 8px;
    box-shadow: 10px 10px 8px rgba(216, 197, 190);
}

.all-plants-header {
    padding-top: 70px;
}

.plant.toggle {
    align-items: center;
}

.new-plant {
    position: relative;
    margin: 6%;
    width: 400px;
    height: 500px;
    background: #FFF;
    border-radius: 2px;
}