.user-profile {

    height: 100vh;
    width: 100vh;
}

img {
    background-image: url("../../Assets/UserProfilePic.jpg");
}

.plant.toggle {
    align-items: center;
}

.new-plant {
    position: relative;
    margin: 6%;
    width: 400px;
    height: 500px;
    background: #FFF;
    border-radius: 2px;
}